.zanas{
display: flex;
justify-content: center;
}
.kol{
    margin-top: 12px;
    
}
.nvlink{
    text-decoration: none !important;
    color: black!important;
    width: 100%;
    height: 100%;
}
.row2{
    margin-top: 30px;
}
a{
    text-decoration: none!important;
    color: black !important;
    font-weight: normal!important;
}
.modbtn4{
    background-color: black ;
    color: orange ;
    font-weight: bold;
    padding: 8px 12px;
    border-style: hidden;
    border-radius: 5px;
    
    
    
}
.lasttext{
    display: flex;
    justify-content: center;
    
}
.home1{
    margin-top: 15px;
    background: url('./karticki/sliki/codeworks.jpg');
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 95%;
    filter: brightness(75%);
    width: 100%;
    height: 100%;
    

}
.home1p{
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    width: 100%;
    height: 500px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnkalendar{
    background-color: black!important;
    color: orange!important;

}

.fabutton{
    margin-top: 13px;
    display: flex;
    justify-content: flex-end;
   
    

 
}
